body {
    background-color: rgba(38, 38, 38, 1);
    color: white;
}

/*
	Framework 
 */
.panel
{
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.8);
}

.component 
{
	border: 1px solid white;
}

.notification {
    position: relative;
    width: 200px;
    min-height: 20px;
    border: 1px solid white;
    background-color: rgba(38, 38, 38, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
}

canvas {
    position: absolute;
    top: 0px; left: 0px;
    background-color: black;
    text-align: center;
}

canvas#mini_map {
    position: absolute;
    top: 5px; left: 5px;
    padding: 0px;
    width: 150px; height: 150px;
    background-color: black;
    border: 1px solid white; /* will be modified by the script */
    opacity: 0.8;
}

canvas#status_panel {
    position: absolute;
    top: 160px; left: 5px;
    width: 150px; height: 65px;
    padding: 0px;
    border: 1px solid white; /* will be modified by the script */
    opacity: 0.8;
}

div#infos {
    position: absolute;
    top: 230px; left: 5px;
    width: 140px;
    padding: 5px;
    font-family: "VT323";
    font-size: 14pt;
    color: white; /* will be modified by the script */
    border: 1px solid white; /* will be modified by script */
}

#leaderboard {
    position: absolute;
    top: 5px; right: 5px;
    width: 140px;
    height: 200px;
    padding: 5px;
    font-family: "VT323";
    font-size: 14pt;
    color: white; /* will be modified by the script */
    border: 1px solid white; /* will be modified by script */
    background-color: rgba(0, 0, 0, 0.8);
}

#leaderboard h1{
    font-size: 18pt;
    padding: 0;
    margin: 0;
}

.kill_counter {
    float: right;
}

.name_counter {
    float: left;
    min-width: 80px;
}

#weapons_panel {
	
}


#upgrades_panel {
    font-family: "VT323";
}

#upgrades_panel div {
	height: 25px;
	clear: left;
}

#upgrades_panel h1 {
    font-size: 18pt;
}

#upgrades_panel div p {
	float: left;
	display: inline-block;
	/* for chrome */
	margin: 0;
}

#upgrades_panel button {
    height: 20px;
    font-size: 15pt;
    border: inherit;
    background-color: inherit;
	
	float: right;
	display: inline-block;
}

#upgrades_panel progress {
    /* Reset the default appearance */
	/*
    -webkit-appearance: none;
    appearance: none;
	*/
    background-color: rgba(0, 0, 0, 0.8);
    height: 20px;
	width: 500px;
	
	float: right;
	display: inline-block;
}

/* screens */

#death_screen {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(38, 38, 38, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#orbit_screen {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
    position: absolute;
    top: 0;
    left: 0;
}

#restart_box {
    font-family: "VT323";
    font-size: 21pt;
    
    width: 300px;
    height: 200px;
    background-color: rgba(38, 38, 38, 0.5);
    border: 1px solid white;
    z-index: 3;
    padding: 10px;
    
    text-align: center;
}

#restart_box button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: "VT323";
    font-size: 21pt;
    width: 100px;
    height: 50px;
}

#orbit_panel {
	width: 60%;
	height: 60%;
}

/* lobby */

#join{
    border: 1px solid white;
    padding: 10px;
}

#join button {
    font-family: "VT323";
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}

/* 
	JS COMPONENTS
*/

/* tabbedPanel */
.tabbedPanel {
	font-family: "VT323";
	border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
}

.tabbedPanel_navigationBar {
	border-color: inherit;
	height: 60px;
}

.tabbedPanel_navigationButton {
	display:inline-block;
	border: 1px solid white;
	border-color: inherit;
	padding: 15px;
	font-size: 1.5em;
	cursor: pointer;
	height: calc(60px-30px);
}

.tabbedPanel_contentPanel {
	padding: 25px;
	width: calc(100% - 50px);
	/* further 60px from the height of the navigation bar*/
	height: calc(100% - 50px - 60px); 
}

.tabbedPanel_contentPanel div {
	width: 100%;
	height: 100%;
}

